@use '../global/use.scss';

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 23px;

  @include use.media-tablet {
    flex-direction: row;
    padding: 36px 76px 36px 60px;
    justify-content: space-between;
  }

  @include use.media-desktop {
    padding: 36px 136px 36px 119px;
  }

  &__tag {
    @include use.font-large;
    text-transform: uppercase;
    text-decoration: none;
    color: use.$color-black;
    margin-bottom: 32px;
    max-width: 136px;

    @include use.media-tablet {
      margin: 0;
      margin-top: 4px;
    }

    &:hover {
      color: use.$color-aqua;
    }

    &:focus-visible {
      outline: 2px solid use.$color-black;
    }

    &:active {
      color: use.$color-silver-active;
    }
  }

  &__social-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    column-gap: 6px;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    max-width: 264px;
    justify-content: center;

    @include use.media-tablet {
      margin: 0;
      margin-left: 15px;
    }
  }

  &__social-item {
    padding: 0;
  }

  &__created-box {
    display: flex;
    align-items: center;
    max-width: 128px;
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: use.$color-aqua;

    &:hover {
      background-color: use.$color-aqua-dark;
    }

    &:focus-visible {
      outline: 2px solid use.$color-black;
    }

    &:active {
      background-color: use.$color-aqua-darker;
    }

    &:active svg {
      opacity: 0.3;
    }
  }

  &__social-ico {
    fill: use.$color-white;
  }

  &__ico-academy {
    fill: use.$color-black;
  }

  &__social-link,
  &__created-link {
    display: inline-flex;
  }

  &__created-link {
    @include use.font-normal;
    color: use.$color-black;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;

    &:hover {
      color: use.$color-aqua;
      fill: use.$color-aqua;
    }


    &:focus-visible {
      outline: 2px solid use.$color-black;
    }

    &:active {
      color: use.$color-silver-active;
      fill: use.$color-silver-active;
    }
  }

  &__created-text {
    padding-right: 13px;
    align-self: center;
  }


}
