@use "../global/use.scss";

.main-nav {
  min-height: 56px;
  position: relative;

  @include use.media-mobile-only {
    &--opened .main-nav__toggle {
      background-image: url("../img/svg/toggle-close.svg");
      width: 22px;
    }

    &--closed .main-nav__toggle {
      background-image: url("../img/svg/toggle-open.svg");
      width: 23px;
    }

    &--closed .main-nav__wrapper {
      display: none;
    }

    &--opened .main-nav__wrapper {
      display: block;
    }

    &--nojs .main-nav__toggle {
      display: none;
    }

    &--nojs .main-nav__wrapper {
      display: block;
    }
  }
}

.main-nav__wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;

  @include use.media-tablet {
    position: inherit;
    z-index: 0;
    display: block;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include use.media-tablet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.main-nav__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include use.media-mobile-only {
    background-color: use.$color-aqua;
    mix-blend-mode: normal;
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);

    &:first-child {
      box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
    }

    &:last-child {
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
      border: none;
    }

    &:last-child::after {
      content: "";
      width: 100%;
      height: 7px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
      margin-top: -7px;
    }

    &:hover {
      background-color: use.$color-aqua-dark;
    }

    &:active {
      background-color: use.$color-aqua-darker;
    }
  }

  @include use.media-tablet {
    min-width: 144px;
    max-width: 154px;
    flex-grow: 1;
    background-color: transparent;
    box-shadow: none;
    border-bottom: none;

    &:nth-child(3) {
      margin-left: calc(100% - 617px);
    }
  }

  @include use.media-middle {
    min-width: 173px;
    max-width: 183px;

    &:nth-child(3) {
      margin-left: calc(100% - 880px);
    }
  }

  @include use.media-desktop {
    min-width: 220px;
    max-width: 240px;

    &:nth-child(3) {
      margin-left: calc(100% - 960px);
    }
  }
}

.main-nav__toggle {
  position: absolute;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  height: 22px;
  cursor: pointer;
  margin: 17px 20px;
  z-index: 3;
  right: 0;

  &::after {
    content: "";
    position: absolute;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
  }

  @include use.media-mobile-only {
    &:hover {
      opacity: 0.6;
    }

    &:focus-visible {
      outline: 2px solid use.$color-black;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @include use.media-tablet {
    display: none;
  }
}

.main-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  @include use.media-mobile-only {
    @include use.font-bold;
    color: use.$color-white;
    padding: 18px 40px 11px;
    min-width: 240px;
    margin-left: -2px;

    &:hover {
      opacity: 1;
    }

    &:focus-visible {
      outline: 2px solid use.$color-black;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @include use.media-tablet {
    @include use.font-normal;
    font-weight: 700;
    color: use.$color-black;
    padding: 19px 20px 16px 20px;

    &:hover {
      color: use.$color-aqua;
    }

    &:focus-visible {
      outline: 2px solid use.$color-black;
    }

    &:active {
      color: rgba(1, 1, 1, 0.3);
    }
  }
}

.main-nav__link--current {
  @include use.media-tablet {
    color: use.$color-link-current;
    margin-left: 2px;
  }
}
