 @use '../global/use.scss';

.main-title {
  margin-bottom: 16px;
  padding: 0 18px 0 18px;

  &__box {
    text-align: center;
  }

  &__slogan {
    @include use.font-bold;
    text-transform: uppercase;
    color: use.$black;
    margin: 0;
    margin-bottom: 35px;
  }

  &__reasons {
    @include use.font-normal;
    text-transform: uppercase;
    margin: 0;
  }
}
