@use '../global/use.scss';

.main-slider {
  position: relative;
  background-color: #d4e6f0;
  background-image: url('../img/svg/slider-text.svg'), url('../img/svg/slider-bottom.svg'), url('../img/web-slider.webp');
  background-size: 282px, auto, cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top 90px center, bottom -0.5px center, center;
  background-color: use.$color-white;
  margin: auto;
  height: 389px;
  margin-bottom: 32px;
  max-width: 100%;
  object-fit: cover;

  @include use.media-tablet {
    background-size: auto, 100%, cover;
    background-position: top 77px center, bottom -1px center, center;
    height: 518px;
    margin-bottom: 49px;
  }

  @include use.media-desktop {
    background-image: url('../img/svg/slider-text.svg'), url('../img/svg/slider-bottom-desktop.svg'), url('../img/web-slider.webp');
    background-position: top 90px center, bottom -1px center, center;
    margin-bottom: 59px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url('../img/svg/slider-text.svg'), url('../img/svg/slider-bottom-desktop.svg'), url('../img/web-slider@2x.webp');
  }
}
