@use '../global/use.scss';

.main-title {
  display: flex;
  justify-content: center;
  margin-bottom: 33px;
  padding: 0 18px 0 18px;

  @include use.media-tablet {
    margin-bottom: 55px;
  }

  @include use.media-desktop {
    margin-bottom: 44px;
  }

  &__box {
    text-align: center;

    @include use.media-mobile-only {
      max-width: 270px;
    }
  }

  &__slogan {
    @include use.font-bold;
    line-height: 27px;
    text-transform: uppercase;
    color: use.$color-black;
    margin: 0 0 35px -2px;

    @include use.media-tablet {
      @include use.font-large;
      margin: 0 0 29px -2px;
    }

    @include use.media-desktop {
      margin-left: -4px;
    }
  }

  &__reasons {
    @include use.font-normal;
    text-transform: uppercase;
    margin: 0;

    @include use.media-desktop {
      margin-left: -2px;
    }
  }
}
