@use '../global/use.scss';

.main-reasons {
  overflow-x: hidden;

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      height: 0;
      border-style: solid;
      border-color: use.$color-white transparent transparent transparent;
      border-width: 20px calc(100vw / 2) 0 calc(100vw / 2);

      @include use.media-tablet {
        display: none;
      }
    }

    @include use.media-tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__list-box {
    padding: 0;

    @include use.media-tablet {
      display: flex;
    }

    &--reverse {

      @include use.media-tablet {
        flex-direction: row-reverse;
      }

      & li:first-of-type {
        padding: 39px 30px 35px;

        @include use.media-tablet {
          padding: 53px 30px 29px;
        }

        @include use.media-desktop {
          padding: 29px 93px 28px;
        }
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    flex-grow: 1;

    &--blue {
      background-color: use.$color-aqua;
      padding: 53px 20px 38px;
      justify-content: center;

      @include use.media-tablet {
        padding: 53px 20px 31px;
        max-width: 256px;
        box-sizing: border-box;
      }

      @include use.media-middle {
        max-width: 400px;
      }

      @include use.media-desktop {
        padding: 22px 67px;
        max-width: 400px;
        width: 100%;
      }
    }
  }

  &__caption {
    @include use.font-bold;
    text-transform: uppercase;
    margin: 0;


    @include use.media-tablet {
      font-size: 21px;
      margin: 0 auto;
      max-width: 150px;
    }

    &--white {
      color: use.$color-white;
      margin-bottom: 11px;

      @include use.media-tablet {
        margin-bottom: 13px;
      }
    }

    &--black {
      margin-bottom: 16px;

      @include use.media-tablet {
        margin-bottom: 24px;
      }

      @include use.media-desktop {
        margin-bottom: 23px;
      }
    }

    &--silver {
      margin-bottom: 12px;

      @include use.media-tablet {
        margin-bottom: 14px;
      }
    }
  }

  &__text {
    @include use.font-normal;
    text-transform: uppercase;
    margin: 0;
    display: block;
    white-space: normal;

    &--white {
      color: use.$color-white;
    }
  }

  &__number {
    @include use.font-normal;
    margin: 0;
    margin-bottom: 17px;

    @include use.media-tablet {
      margin-bottom: 22px;
    }

    &--white {
      color: use.$color-white;

      @include use.media-tablet {
        margin-bottom: 23px;
      }
    }
  }

  &__item-image {
    min-height: 260px;

    @include use.media-tablet {
      min-height: 256px;
    }

    @include use.media-desktop {
      min-height: 257px;
    }
  }

  &__item-ico {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;

    @include use.media-tablet {
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: flex-start;
    }

    &--home {
      padding-bottom: 25px;
      padding-top: 24px;

      @include use.media-tablet {
        width: 190px;
        padding: 58px 33px 52px;
      }

      @include use.media-desktop {
        padding: 69px 50px;
        width: 300px;
      }

      &::before {
        content: "";
        background-image: url('../img/svg/home.svg');
        background-repeat: no-repeat;
        width: 39px;
        height: 37px;
        margin-left: -1px;
        margin-right: 8px;

        @include use.media-tablet {
          background-image: url('../img/svg/home-tablet.svg');
          width: 77px;
          height: 72px;
          margin: 0;
          margin-bottom: 28px;
          margin-left: -4px;
        }

        @include use.media-desktop {
          background-image: url('../img/svg/home-desktop.svg');
          width: 80px;
          height: 72px;
          margin-left: -2px;
        }
      }
    }

    &--food {
      padding-bottom: 25px;

      @include use.media-tablet {
        padding: 60px 50px;
        width: 156px;
      }

      @include use.media-desktop {
        padding: 71px 50px;
        width: 300px;
      }

      &::before {
        content: "";
        background-image: url('../img/svg/food.svg');
        background-repeat: no-repeat;
        width: 40px;
        height: 35px;
        margin-left: -1px;
        margin-top: 2px;
        margin-right: 7px;

        @include use.media-tablet {
          background-image: url('../img/svg/food-tablet.svg');
          width: 81px;
          height: 68px;
          margin: 0;
          margin-bottom: 28px;
          margin-left: -4px;
        }

        @include use.media-desktop {
          background-image: url('../img/svg/food-desktop.svg');
          width: 73px;
          height: 69px;
          margin-bottom: 26px;
        }
      }
    }

    &--souvenir {
      margin-bottom: 46px;

      @include use.media-tablet {
        margin: 0;
        padding: 62px 33px;
        width: 190px;
      }

      @include use.media-desktop {
        padding: 68px 50px;
        width: 300px;
      }

      &::before {
        content: "";
        background-image: url('../img/svg/souvenir.svg');
        background-repeat: no-repeat;
        width: 32px;
        height: 38px;
        margin-left: 3px;
        margin-right: 11px;

        @include use.media-tablet {
          background-image: url('../img/svg/souvenir-tablet.svg');
          width: 67px;
          height: 75px;
          margin: 0;
          margin-bottom: 16px;
          margin-left: 4px;
        }

        @include use.media-desktop {
          background-image: url('../img/svg/souvenir-desktop.svg');
          width: 78px;
          height: 75px;
          margin-bottom: 27px;
          margin-left: -4px;
        }
      }

      p {
        margin-left: 0;

        @include use.media-tablet {
          margin-left: -2px;
        }
      }
    }
  }

  &__item-box {
    width: 237px;
    padding-top: 8px;

    @include use.media-tablet {
      padding: 0;
      width: auto;
    }
  }

  &__item-silver-box {
    @include use.media-mobile-only {
      max-width: 246px;
    }

    @include use.media-tablet {
      max-width: 190px;
      padding: 54px 33px 52px;
      margin-bottom: 0;
    }

    @include use.media-desktop {
      max-width: 300px;
      padding: 63px 50px 40px;
    }

    &--four {
      margin-left: -2px;

      @include use.media-tablet {
        margin-left: 0;
        padding: 43px 49px 42px;
      }

      @include use.media-desktop {
        padding: 51px 68px 50px;
      }
    }
  }

  &__item-silver {
    background-color: use.$color-silver;
    padding-top: 24px;

    &::after {
      content: "";
      border-bottom: 1px solid use.$color-bottom-line;
      width: 284px;
      padding-bottom: 24px;

      @include use.media-tablet {
        display: none;
      }
    }

    &:last-of-type {
      padding-bottom: 29px;

      &::after {
        display: none;
      }

      @include use.media-tablet {
        padding: 0;
      }
    }

    @include use.media-tablet {
      padding: 0;
    }
  }
}
