@use '../global/use.scss';

 .main-slider {
   position: relative;
   background-image: url('../img/svg/slider-text-mobile.svg'), url('../img/slider-mobile.jpg');
   background-size: auto, cover;
   background-repeat: no-repeat, no-repeat;
   background-position: top 90px center, center;
   background-color: use.$white;
   margin: auto;
   height: 389px;
   width: 100%;
   margin-bottom: 32px;
 }
