@use '../global/use.scss';

.main-slider {
  position: relative;
  background-image: url('../img/svg/slider-text.svg'), url('../img/svg/slider-bottom.svg'), url('../img/slider.jpg');
  background-size: 282px, auto, cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top 90px center, bottom 0 center, center;
  background-color: use.$color-white;
  margin: auto;
  height: 389px;
  margin-bottom: 32px;
  max-width: 100%;
  object-fit: cover;

  @media (min-resolution: 2dppx) {
    background-image: inherit, inherit, url('../img/slider@2x.jpg');
  }

  @include use.media-tablet {
    background-size: auto, 100%, cover;
    height: 518px;
    margin-bottom: 48px;
  }

  @include use.media-desktop {
    background-image: url('../img/svg/slider-text.svg'), url('../img/svg/slider-bottom-desktop.svg'), url('../img/slider.jpg');
    background-position: top 90px center, bottom -1px center, center;
    margin-bottom: 59px;
  }


}
