body {
  font-family: 'PT-Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  background-color: #ffffff;
  margin: 0 auto;
  color: #333333;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100%;
  box-shadow: 0 5px 15px rgba(1, 1, 1, 0.2);
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

img {
  height: auto;
  display: block;
  object-fit: cover;

  @media (min-width: 768px) {
    width: 100%;
    height: 100%;
  }
}
