$color-white: #ffffff;
$color-black: #000000;
$color-gray: #333333;
$color-aqua: #81b3d2;
$color-aqua-dark: #669ec0;
$color-aqua-darker: #5496bd;
$color-silver: #eeeeee;
$color-silver-active: #b3b3b3;
$color-disabled: #e5e5e5;
$color-bottom-line: #d6d6d6;
$color-link-current: #766357;
